@import "~bootstrap/scss/bootstrap";
@import './button.scss';
@import './layouts/variables';



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $sixiemeCouleur;
    color: $dixiemeCouleur;
    font: 2em sans-serif;
}

.container {
    padding-left: -40px;
}

ul {
    margin: 0;
    

    li {
        list-style-type: none;
    }
}

p {
    font-family: $fontfamilyCursivetwo;
    color: $dixiemeCouleur;
    font-size: 1.9rem;
}

h1 {
    font-family: $fontfamilyCursive;
    color: $dixiemeCouleur;
}

h2 {

}

h3 {

}

h4 {

}



.navbar {
    color: blue;
}

.logo {
    font-family: $fontfamilykaushan;
    font-size: 3em;
    color: green;
    margin: 20px 25px 0 20px;
}