@import "~bootstrap/scss/bootstrap";
@import './button.scss';
@import './layouts/variables';



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $dixiemeCouleur;
    font: 2em sans-serif;
}

ul, li {
    list-style-type: none;
}

p {
    font-family: $fontfamilyCursivetwo;
    color: $dixiemeCouleur;
    font-size: 1.9rem;
}

h1 {
    font-family: $fontfamilyCursive;
    color: $dixiemeCouleur;
}

h2 {

}

h3 {

}

h4 {

}

.navbar {
    color: blue;
}