<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shtex Info{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            

            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,600" media="all" />

            <!-- Renders a link tag (if your module requires any CSS)-->
                
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        
        {% endblock nav %}
        
        {% block header %}
        {% endblock header %}

        {% block body %}

        {% endblock body %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock javascripts %}
    </body>
</html>
