{% extends 'base.html.twig' %}
{% block title %}nav navController!{% endblock %}
{% block nav %}
<nav>
    <ul>
        <li>Info</li>
        <li>Patisserie</li>
        <li></li>
        <li></li>
    </ul>

    <h1> Salut toi </h1>

</nav>



{% endblock %}